* {
  box-sizing: border-box;
  font-size: 20px;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background-color: rgb(250, 250, 250);
}

.head-text {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

.gradient-color {
  background-image: linear-gradient(to right, #990099, #7a00cc);
  color: transparent;
  display: inline-block;
  -webkit-background-clip: text;
  text-transform: uppercase;
}

.main-card-cont {
  background-color: #fff;
  margin: 0px 10px;
  margin-bottom: 15px;
  height: 300px;
  width: 250px;
  position: relative;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.8s;
}

.card-header {
  padding: 15px 0px;
}

.main-card-cont:hover .card {
  transform: rotateY(180deg);
}

.front-card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  background: #fff;
}

.back-card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  transform: rotateY(180deg);
  background-image: linear-gradient(to right, #990099, #7a00cc);
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.section {
  margin: 15px 0px;
}

.btn-demo-source {
  border: 1px solid black;
  padding: 5px;
  width: 100px;
  margin: auto;
  border-radius: 5px;
}

.skills-cont {
  width: 80%;
  margin: 0 auto;
}

.img-style {
  width: 100%;
  height: auto;
}

.content-parent-container {
  margin: 30px 0px;
  padding: 3em 0;
  transform: skewY(-2deg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-cont div:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

@media (min-width: 500px) {
  .demo-source-code {
    display: none;
  }
}
